### ImpactJS sdk files
weltmeister.html
lib/weltmeister/*
lib/impact/

### ImpactJS bake tool
tools/bake.bat
tools/bake.php
tools/bake.sh
tools/jsmin.php

### Python web server files
server.py

### Baked files
*.min.js

### Linux backup files
**~
